#
# PHP Static Analysis Configuration
#

parameters:
	bootstrapFiles:
		- %currentWorkingDirectory%/boot.php
	level: 6
	paths:
		- ../etc
		- ../lib
		- ../test
		- ../webroot
	scanDirectories:
		- ../vendor
	tipsOfTheDay: false
