<?xml version="1.0" encoding="UTF-8"?>
<!--
	OpenTHC PHPUnit Configuration File
-->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="../boot.php"
	cacheResult="false"
	colors="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="true"
	stopOnFailure="true"
	stopOnRisky="true"
	timeoutForSmallTests="2"
	timeoutForMediumTests="8"
	timeoutForLargeTests="32"
	verbose="false"
	>

	<php>

		<!-- PHPUnit populates $_ENV with these -->
		<!-- And one can overwrite these values from standard process environment vars -->

		<!-- Need to Create and Register -->
		<env name="OPENTHC_TEST_API_CLIENT_PK" value="Q5QGG-2_2aZ4WoqtGMyCBIRR-YW9uUwKrYr4mCsjkzU" />
		<env name="OPENTHC_TEST_API_CLIENT_SK" value="vW5pGOZRgtiDjoRtYr8a26ijNrJIGw5P83arAjjX30Y" />

		<!-- Just some random test keys here, could (should?) create your own -->
		<env name="OPENTHC_TEST_LICENSE_A_PK" value="cdgeXhiKxQEvuUqlrF2hg9Z63CotrJwM_YZfeM1Y-FQ" />
		<env name="OPENTHC_TEST_LICENSE_A_SK" value="QrFQZ0NuBcK8jVyVA3hLOw6XS7_XzZIfcpUAcjEbnrM" />

		<env name="OPENTHC_TEST_LICENSE_B_PK" value="8kJu3zYnXjCCuin86G5qL9k_IyETWJbVRTDsw6dCGCE" />
		<env name="OPENTHC_TEST_LICENSE_B_SK" value="-B05deqBNDCY8Dd86KhJDYjn9CnCFDN15SX3FvxtM5w" />

		<env name="OPENTHC_TEST_LICENSE_C_PK" value="1dMeI-8jayJLX0zWe4H2adBQzs-PDQWUpon9cxf4Knc" />
		<env name="OPENTHC_TEST_LICENSE_C_SK" value="Zu8cBeQOfE30hPjzslxTtGtWHSOICYP6mt1yIfdswbI" />

	</php>

	<testsuites>
		<testsuite name="All">
			<file>System_Test.php</file>
			<file>Config_Test.php</file>
			<file>Profile/Create_Test.php</file>
			<file>Profile/Create_Fail_Test.php</file>
			<file>Profile/Update_Test.php</file>
			<file>Profile/Update_Fail_Test.php</file>
			<file>Message/Create_Test.php</file>
			<file>Message/Create_Fail_Test.php</file>
			<file>Message/Update_Test.php</file>
			<file>Message/Update_Fail_Test.php</file>
			<file>Message/Delete_Test.php</file>
		</testsuite>
		<testsuite name="Message">
			<directory>Message</directory>
		</testsuite>
		<testsuite name="Profile">
			<directory>Profile</directory>
		</testsuite>
	</testsuites>

	<!-- XDEBUG_MODE=coverage (environment variable) or xdebug.mode=coverage (PHP configuration setting) has to be set -->
	<!-- <coverage /> -->

</phpunit>
