<?xml version="1.0" encoding="UTF-8"?>
<!--
	OpenTHC PHPUnit Configuration File
-->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="../boot.php"
	cacheResult="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="true"
	stopOnFailure="true"
	stopOnRisky="true"
	timeoutForSmallTests="1"
	timeoutForMediumTests="10"
	timeoutForLargeTests="60"
	verbose="true"
	>

	<php>

		<!-- Need to Create and Register -->
		<const name="OPENTHC_TEST_API_CLIENT_PK" value="" />
		<const name="OPENTHC_TEST_API_CLIENT_SK" value="" />

		<!-- Just some random test keys here, could (should?) create your own -->
		<const name="OPENTHC_TEST_LICENSE_A_PK" value="cdgeXhiKxQEvuUqlrF2hg9Z63CotrJwM_YZfeM1Y-FQ" />
		<const name="OPENTHC_TEST_LICENSE_A_SK" value="QrFQZ0NuBcK8jVyVA3hLOw6XS7_XzZIfcpUAcjEbnrM" />

		<const name="OPENTHC_TEST_LICENSE_B_PK" value="8kJu3zYnXjCCuin86G5qL9k_IyETWJbVRTDsw6dCGCE" />
		<const name="OPENTHC_TEST_LICENSE_B_SK" value="-B05deqBNDCY8Dd86KhJDYjn9CnCFDN15SX3FvxtM5w" />

		<const name="OPENTHC_TEST_LICENSE_C_PK" value="1dMeI-8jayJLX0zWe4H2adBQzs-PDQWUpon9cxf4Knc" />
		<const name="OPENTHC_TEST_LICENSE_C_SK" value="Zu8cBeQOfE30hPjzslxTtGtWHSOICYP6mt1yIfdswbI" />

	</php>

	<testsuites>
		<testsuite name="All">
			<file>System_Test.php</file>
			<file>Profile/Create_Test.php</file>
			<file>Profile/Create_Fail_Test.php</file>
			<file>Profile/Update_Test.php</file>
			<file>Profile/Update_Fail_Test.php</file>
			<file>Message/Create_Test.php</file>
			<file>Message/Update_Test.php</file>
			<file>Message/Update_Fail_Test.php</file>
			<file>Message/Delete_Test.php</file>
		</testsuite>
	</testsuites>

</phpunit>
